# ===== 安路TD 编译/下载产物 =====
*.bit
*.mcs
*.bin
*.svf
*.bit.gz
*.mcs.gz

# ===== 日志/报告/临时文件 =====
*.log
*.logw
*.timingsummary
*.bak
*.tmp
*.swp
*.old
.lock.f
~$*

# ===== IP工具自动备份目录（可重建）=====
.IpToolIpDataBackupDir_*
.ipToolIpDataBackupDir_*

# ===== 工程编译运行目录 =====
**/td_project/*_Runs/
**/td_project/log/
**/td_project/al_ip/
**/Runs/
**/syn_run/
**/phy_run/

# ===== 系统/编辑器 =====
Thumbs.db
Desktop.ini
.DS_Store
